html {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 225);
}

body {
  font-family: Verdana, sans-serif;
  margin: 8px;
  max-width: 905px;
  line-height: 1.5;
  color: #444;
}

h1 {
  padding-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #cdcdcd;
  text-align: left;
  padding: 8px;
}
